﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title}">Auto Park password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.reset.greeting(${token.name})}" style="font-weight: bold;font-size: 15px;color:#f9aa34">
    Dear
</p>
<p th:text="#{email.reset.text1}">
    For your Auto Park account a password reset was requested, please click on the URL below to reset it:
</p>
<p>
    <a th:href="${baseUrl}+'/lostpassword/finish/'+ ${token.tokenValue}"
       th:text="${token.email}">Reset Link</a>
</p>

<p>
    <span th:text="#{email.reset.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Auto Park.</em>
</p>
</body>
</html>